<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|PT+Serif:700" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero text-light text-center">
                <div class="container-sm">
                    <div class="hero-inner">
                        <a href="{{ url_for('upload_data') }}">Covid-19 Tweet Analysis</a>
                    </div>
                </div>
            </section>

            <section class="clients section">
                <div class="container">
                    <div class="clients-inner section-inner has-top-divider">
                    </div>
                </div>
            </section>



        </main>

    </div>
    <script src="static/js/main.min.js"></script>
</body>
<style>
    a{text-decoration: underline;
font-size: 50px;}
</style>
</html>
